* {
    margin: 0;
    padding: 0;
}

.product__box {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
}

.product {
    position: relative;
}

.btn__del {
    position: absolute;
    top: 28px;
    right: 22px;
    height: 18px;
    width: 18px;
    font-size: 0;
    border: none;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/close.png);
    cursor: pointer;
}

.content {
display: flex;
width: 625px;
box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.12);
}

.product__img {
    width: 262px;
}

.product__desc {
     font-style: normal;
     font-weight: 400;
     font-size: 22px;
     line-height: normal;
     color: #575757;
     padding: 22px 60px 60px 30px;
}

.product__name {
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 42px;
}

.product__price {
    color: #EF5B70;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__qty {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    
}

.input__label {
    width: 44px;
    height: 25px;
}

.input__quantity {
    width: 44px;
    text-align: center;
    color: #656565;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #EAEAEA;
}